* {
    box-sizing:border-box;
}

html, body {
    max-width:100%;
    max-height:100%;
    width:100%;
    height:100%;
    margin:0;
    overflow: hidden;
    position:relative;
    
    font-family: "Cambria Math";
}

h1 {
    margin-left:100px;
    padding-left:15px;
}

main {
    position:absolute;
    top:100px;
    left:100px;
    bottom:100px;
    right:100px;
    border:1px solid #ccc;
    overflow:hidden;
}

#setupWindow, #demoWindow {
    width:100%;
    height:100%;
    overflow:hidden;
    position: relative;
}

#setupWindow > section {
    position: absolute;
    top:0;
    left:0;
    right:400px;
    bottom:0;
    padding:15px;
}

textarea {
    width:100%;
    height:70%;
    border:1px dashed #ccc;
    padding:15px;
}

#setupWindow > aside {
    position: absolute;
    width:400px;
    top:0;
    right:0;
    bottom:0;
    overflow-y:auto;
    padding:15px;
}

#demoWindow > section {
    position: absolute;
    top:0;
    left:0;
    right:250px;
    bottom:0;
}

#demoWindow > aside {
    position: absolute;
    width:250px;
    top:0;
    right:0;
    bottom:0;
    overflow-y:auto;
    border-left:1px solid #ccc;
}


#controls {
 
    text-align:center;
    padding:15px;
    height:50px;
    border-bottom:1px solid #ccc;
}

#container {
    position: absolute;
    top:50px;
    left:0;
    bottom:0;
    right:0;
    overflow:auto;
    padding:15px;
}

/*
  +++  D E M O   N A V I G A T I O N  +++
*/

.navElement {
    padding:5px;
    /background-color:#4CB299;
    /border:1px solid #3D8E7A;
    border-bottom:1px solid #ccc;
}

.navElement > span:first-of-type {
    width:30px;
    display:inline-block;
    text-align: right;
}

.navElement span:last-of-type {
    margin-left:10px;
}

.navElement:hover {
    cursor:pointer;
    background-color:#3D8E7A;
}

.navElement.active {
    background-color: lightcoral;
}



.navElement.running_1 {
    
}

.navElement.running_2 {
    background-color:#DFBF5F;
    border-color: #B2994C;
}

.navElement.running_2:hover {
    background-color:#B2994C;
}

/* initial */
.navElement.status-0 {
   
}
.navElement.status-0:before {
    content:"#";
    display: inline-block;
    width:20px;
    height:20px;
    text-align: center;
}

/* proposal */
.navElement.status-1 {
   
}
.navElement.status-1:before {
    /content:"\1F48D";
    content:"";
    display: inline-block;
    width:20px;
    height:20px;
    text-align: center;
}

/* rotation */
.navElement.status-2 {
}
.navElement.status-2:before { 
    content:"\267b";
    display: inline-block;
    width:20px;
    height:20px;
    text-align: center;
}

/* deletion */
.navElement.status-3 {
    /background-color:red
}
.navElement.status-3:before {
    /content:"\2573";
    content: "";
    display: inline-block;
    width:20px;
    height:20px;
text-align: center;
}


/* result */
.navElement.status-4 {
    /background-color:white
}
.navElement.status-4:before {
    content:"\21d2";
    display: inline-block;
    width:20px;
    height:20px;
    text-align: center;
    font-weight:bold;
}

/* finish */
.navElement.status-5 {
    /background-color:blue
}
.navElement.status-5:before {
    content:"\1F3C1"
}



.navElement.solved {
    background-color:#DF5FBF;
}

.navElement.unsolvable {
    background-color:red;
}

.closed {
    height:0 !important;
}

/*
   +++   T A B L E   +++
*/

table#demoTarget {
    border-spacing: 2px;
    border-collapse: separate;
    font-family: "Cambria Math"; 
    margin: auto;
    
}

tr {
    min-height:30px;
    max-height:30px;
    overflow: hidden;
}

td {
    border:1px solid white;
    min-width:20px;
    min-height:20px;
    min-height:30px;
    max-height:30px;
    text-align:center;
    overflow: hidden;
    white-space: nowrap;
    height: 30px;
}

td.head {
    min-width: 30px;
    font-size: large;
    font-weight: bold;
    text-align: left; 
}

td.highlight-1 {
    border:1px solid #ccc;
}

td.highlight-2 {
    border-color:black;
}


td.highlight-3 {
    border-radius: 10px;
    background-color:lightgreen;
}

td.dead {
    color: #dedede;
    display: none;
}

#demoTarget.showDeleted td.dead {
    display:table-cell;
}

.super {
    vertical-align: super;
    font-size:small;
}

.sub {
    vertical-align: sub;
    font-size:small;
    font-weight: normal;
}

